@mixin scroll-x {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; // IE 스크롤바 감추기
    scrollbar-width: none; // Firefox 스크롤바 감추기
    &::-webkit-scrollbar {
        display: none; // Chrome 스크롤바 감추기
    }
}

@mixin icon_all {
    display: inline-block;
    overflow: hidden;
    color: transparent;
    white-space: nowrap;
    background-image: url("../images/sprite.png");
    background-size: 773px 662px;
}