h6{
    all: unset;
    font-size: 36px;
}

div{
    background-color: skyblue;
    cursor: progress;
}

p{
    color: red;
}

h6,div{
    color: darkblue;
}

span > b{
    color: green;
}

span u{
    color: burlywood;
}

div:hover{
    background-color: darkviolet;
}

.under{
    text-decoration: underline;
}

body.main{
    background-color: aliceblue;
}

#pid{
    color: black;
}