span{
    background-color: white;
}

div{
    display: flex;
}

div.box{
    width: 10%;
    background-color: #303030;
    border-style: solid;

    border-color: #505050;
    border-width: 30px;

    padding: 30px;
}

.margin{
    float: left;
    margin: 30px;
}

div#gap{
    display: flex;
    gap: 30px;
}