body{
    display: flex;
    justify-content: center;
}

#container{
    background-color: red;
    height: 100vh;
    overflow-y: scroll;
    width: 60vh;
    padding: 0px 30px;
}

section{
    background-color: blue;
    height: 150%;
    width: 100%;
    margin: 35px 0px;
    display: flex;
    justify-content: flex-end;
}

header{
    background-color: green;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}