body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}

input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.screen-out {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-x::-webkit-scrollbar {
  display: none;
}

.dimmed {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.order-popup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 16px 16px 0 0;
  padding: 32px 0 40px;
  z-index: 10000;
  text-align: center;
}

.order-popup .title {
  font-weight: bold;
  font-size: 20px;
}

.order-popup .type-list {
  display: flex;
  margin-top: 32px;
}

.order-popup .type-item {
  flex: 1;
}

.order-popup .type-item + .type-item {
  border-left: 1px solid #f2f2f2;
}

.order-popup .icon {
  width: 100px;
  height: auto;
  color: #03c75a;
}

.order-popup .desc {
  font-size: 15px;
  margin-top: 8px;
  font-weight: 600;
  line-height: 1.5;
}

.order-popup .btn-selection {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 18px;
  font-size: 16px;
  font-weight: 700;
  background-color: #424242;
  border-radius: 28px;
  color: #fff;
}

.header-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #00c73c;
  color: #fff;
  z-index: 5000;
}

.header-area .place-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}

.header-area .place-header .title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.header-area .place-header .link-back {
  display: flex;
}

.header-area .place-header .my-orders {
  font-size: 15px;
  font-weight: 700;
  padding-right: 18px;
}

.header-area .place-tab {
  display: flex;
  height: 46px;
  background-color: #03b753;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header-area .place-tab::-webkit-scrollbar {
  display: none;
}

.header-area .tab-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  width: 100%;
}

.header-area .tab-inner .tab {
  flex: 1;
  padding: 0 12px;
  text-align: center;
  opacity: .7;
  line-height: 46px;
}

.header-area .tab-inner .tab.is-active {
  font-weight: 700;
  opacity: 1;
}

.header-area .tab-inner .tab.is-active .text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fff;
}

.header-area .tab-inner .tab .text {
  padding: 0 4px;
  position: relative;
  display: inline-block;
}

.container {
  padding-top: 94px;
  background-color: #f4f7f9;
}

.common-inner {
  margin: 0 auto;
  max-width: 720px;
}

.badge_popular {
  display: inline-block;
  padding: 0 5px;
  border-radius: 10px;
  font-size: 11px;
  line-height: 16px;
  font-weight: bold;
  background-color: #ff61a7;
  color: #fff;
}

.order-info-area {
  padding: 10px 18px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  background-color: #e7f7ff;
}

.order-info-area .info-main-title {
  display: flex;
  justify-content: space-between;
  line-height: 39px;
  align-items: center;
}

.order-info-area .title {
  display: flex;
  align-items: center;
  font-size: 18px;
  letter-spacing: -0.3px;
  color: #333;
}

.order-info-area .title .ico_n_logo {
  margin-right: 6px;
  width: 24px;
  height: auto;
}

.order-info-area .logo {
  position: relative;
  display: flex;
  align-items: center;
}

.order-info-area .logo::before {
  display: inline-block;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  background-image: url("../images/sprite.png");
  background-size: 773px 662px;
  content: "";
  width: 28px;
  height: 25px;
  background-position: -212px -548px;
  position: absolute;
  right: 36px;
  bottom: 3px;
}

.order-info-area .logo .logo_img {
  width: 39px;
  height: 39px;
}

.order-info-area .order_type_container {
  display: flex;
  align-items: center;
  margin-top: 12px;
  justify-content: space-between;
}

.order-info-area .order_type_container .type_switch {
  flex: 1;
  text-align: center;
  padding: 8px 0 7px;
  font-size: 13px;
  font-weight: 700;
  line-height: 40px;
  color: #666;
  letter-spacing: -0.3px;
  background-color: rgba(0, 0, 0, 0.06);
}

.order-info-area .order_type_container .type_switch.is_active {
  position: relative;
  flex-grow: 1.2;
  border: 1px solid #333;
  background-color: #fff;
  font-size: 15px;
  color: #333;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.order-info-area .order_type_container .type_switch.is_active::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-width: 0 1px 1px 0;
  background-color: #fff;
  transform: rotate(45deg) translateX(-50%);
}

.order-info-area .order_type_container .type_switch.is_active .ico_check {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
}

.order-info-area .order_type_container .ico_check {
  display: none;
}

.order-info-area .order_type_container .ico_takeout {
  display: inline-block;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  background-image: url("../images/sprite.png");
  background-size: 773px 662px;
  width: 18px;
  height: 18px;
  background-position: -678px -404px;
  vertical-align: -3px;
  margin-right: 5px;
}

.order-info-area .order_type_container .ico_dine {
  display: inline-block;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  background-image: url("../images/sprite.png");
  background-size: 773px 662px;
  width: 15px;
  height: 15px;
  background-position: -636px -621px;
  vertical-align: -3px;
  margin-right: 5px;
}

.order-info-area .order_type_container .ico_delivery {
  display: inline-block;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  background-image: url("../images/sprite.png");
  background-size: 773px 662px;
  width: 15px;
  height: 15px;
  background-position: -534px -621px;
  vertical-align: -3px;
  margin-right: 5px;
}

.order-info-area .info_main_notice {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 12px 16px;
  border-radius: 2px;
  background-color: #fff;
  font-size: 14px;
  letter-spacing: -0.3px;
  color: #333;
}

.order-info-area .info_main_notice.alert {
  color: #fc4c4e;
  font-weight: 700;
}

.order-info-area .info_main_notice .ico_clock {
  margin-right: 6px;
  color: inherit;
}

.order-info-area .ico_clock {
  color: #00c73c;
}

.recent_order_area {
  display: flex;
  margin-top: 16px;
  border-radius: 2px;
  padding: 18px 0;
  background-color: #fff;
}

.recent_order_area .recent_order_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-right: 1px solid #f2f2f2;
  line-height: 1.42;
  font-size: 12px;
  font-weight: 700;
  flex-shrink: 0;
  color: #333;
}

.recent_order_area .recent_order_text .ico_clock {
  margin-bottom: 4px;
  width: 14px;
}

.recent_order_area .recent_list {
  display: flex;
}

.recent_order_area .recent_item {
  box-sizing: content-box;
  width: 80px;
  padding-left: 16px;
  text-align: center;
}

.recent_order_area .recent_item.is_ordered {
  padding-right: 16px;
  border-right: 1px solid #f2f2f2;
}

.recent_order_area .recent_item:last-child {
  padding-right: 18px;
}

.recent_order_area .menu_img_area {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid #f9f9f9;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.01);
}

.recent_order_area .badge_popular {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  border-radius: 10px;
  line-height: 16px;
  font-weight: 700;
  font-size: 11px;
  background-color: #ff61a7;
  color: #fff;
}

.recent_order_area .menu_img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.recent_order_area .badge_cart {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
  border: 1px solid #e5e5e5;
  border-radius: 100%;
  background-color: #f8fafb;
  display: flex;
}

.recent_order_area .ico_cart {
  width: 16px;
  height: 16px;
}

.recent_order_area .menu_name {
  margin-top: 8px;
  font-weight: 600;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.recent_order_area .menu_price {
  font-size: 13px;
  font-weight: 700;
  color: #fc4c4e;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu_category_area {
  position: sticky;
  top: 94px;
  margin-top: 10px;
  background-color: #fff;
  z-index: 5500;
}

.menu_category_area .common-inner {
  position: relative;
  border-bottom: 1px solid #f2f2f2;
}

.menu_category_area .common-inner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
}

.menu_category_area .common-inner::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
}

.menu_category_area .category_tab {
  display: flex;
  align-items: center;
  height: 54px;
}

.menu_category_area .category_tab .category_item:first-child {
  padding-left: 18px;
}

.menu_category_area .category_tab .category_item:last-child {
  padding-right: 18px;
}

.menu_category_area .category_tab .category_tab {
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-size: 16px;
  height: 30px;
  border-radius: 15px;
}

.menu_category_area .category_tab .category_tab.is_active {
  background-color: #424242;
  font-weight: 700;
  color: #fff;
}

.menu_list_area {
  padding: 28px 18px 10px;
  background-color: #fff;
}

.menu_list_area:not(.new):not(.popular) {
  margin-top: 10px;
}

.menu_list_area.new {
  border-bottom: 1px solid #f2f2f2;
}

.menu_list_area.is_closed {
  padding: 24px 18px;
}

.menu_list_area.is_closed + .is_closed {
  margin-top: 0;
  border-top: 1px solid #f2f2f2;
}

.menu_list_area.is_closed .ico-arrow {
  transform: rotate(180deg);
}

.menu_list_area.is_closed .menu_list {
  display: none;
}

.menu_list_area .menu_category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_list_area .title_area {
  display: flex;
  align-items: center;
}

.menu_list_area .title {
  font-size: 19px;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.3px;
}

.menu_list_area .period {
  font-size: 14px;
  letter-spacing: -0.3px;
  color: #666;
}

.menu_list_area .period::before {
  content: "";
  display: inline-block;
  background-color: #ededed;
  border-radius: 100%;
  margin: 0 10px;
  width: 4px;
  height: 4px;
  vertical-align: middle;
}

.menu_item {
  display: flex;
  align-items: center;
  padding: 18px;
  margin: 0 -18px;
}

.menu_item:not(:last-child) {
  border-bottom: 1px solid #f2f2f2;
}

.menu_item .menu_detail {
  display: flex;
  align-items: center;
  flex: 1;
}

.menu_item .menu_img_area {
  position: relative;
  flex-shrink: 0;
  margin-right: 12px;
  border-radius: 5px;
  overflow: hidden;
}

.menu_item .menu_img_area:not(.no_img)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.06);
}

.menu_item .menu_img_area img {
  display: block;
}

.menu_item .menu_desc {
  margin-top: 4px;
  letter-spacing: -0.4px;
  color: #8f8f8f;
  font-size: 14px;
  line-height: 19px;
  max-height: 38px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* autoprefixer: off */
}

.menu_item .menu_price {
  margin-top: 4px;
  line-height: 1.4;
  font-size: 15px;
  font-weight: 700;
  color: #fc4c4e;
}

.menu_item .btn_cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.menu_item .btn_cart .ico_cart {
  width: 20px;
  height: 20px;
}

.menu_item .btn_cart .num {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  background-color: #fc4c4e;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.menu_item .btn_cart.disabled {
  font-size: 12px;
  border: 0;
  color: #777;
  background-color: #eee;
  cursor: not-allowed;
}

.menu_name_group {
  display: flex;
  align-items: center;
}

.menu_name_group .menu_name {
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  color: #333;
}

.menu_name_group .ico_new {
  margin-left: 4px;
}

.menu_name_group .badge_popular {
  margin-left: 6px;
}

.menu_info_group {
  display: flex;
  flex-shrink: 0;
  margin-top: 4px;
  font-size: 14px;
}

.menu_info_group .menu_grade {
  flex-shrink: 0;
  font-weight: 700;
  color: #333;
}

.menu_info_group .menu_grade .ico_star {
  margin-right: 2px;
}

.menu_info_group .menu_grade .ico_star + .number_of_order::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 8px;
  background-color: #ededed;
  transform: translateY(1px);
}

.menu_info_group .number_of_order {
  flex-shrink: 0;
  color: #8f8f8f;
}

.menu_info_group .number_of_order em {
  margin-left: 4px;
  font-style: normal;
  color: #ededed;
  font-weight: 700;
  color: #333;
}
