.header-area {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #03c95a;
    color: #fff;
    z-index: 5000;

    .place-header {
        display: flex;
        align-items: center;
        justify-content:space-between;
        height: $place-header-height;

        .title {
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: 600;
        }

        .link-back {
            display: flex;
        }

        .my-orders {
            font-size: 15px;
            font-weight: 700;
            padding-right: $m-padding;
        }
    }

    .place-tab {
        display: flex;
        height: $place-tab-height;
        background-color: #03b753;
    }

    .tab-inner {
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 0 8px;
        width: 100%;

        .tab {
            flex: 1;
            padding: 0 12px;
            text-align: center;
            opacity: .7;
            line-height: $place-tab-height;
            &.is-active {
                font-weight: 700;
                opacity: 1;
                .text::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background-color: #fff;
                }
            }

            .text {
                padding: 0 4px;
                position: relative;
                display: inline-block;
            }
        }
    }
}

