.menu_category_area {
    position: sticky;
    top: $place-header-height + $place-tab-height;
    margin-top: 10px;
    background-color: #fff;

    .common-inner {
        position: relative;
        border-bottom: 1px solid $booking-color-border144;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: $m-padding;
            height: 100%;
            pointer-events: none;
            z-index: 1;
            background-image: linear-gradient(to left, rgba(255,255,255,0), #fff);
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: $m-padding;
            height: 100%;
            pointer-events: none;
            z-index: 1;
            background-image: linear-gradient(to right, rgba(255,255,255,0), #fff);
        }
    }
    
    .menu_tab {
        display: flex;
        align-items: center;
        height: 54px;

        .menu_item {
            &:first-child {
                padding-left: $m-padding;
            }
            &:last-child {
                padding-right: $m-padding;
            }
        }

        .menu_tab {
            display: flex;
            align-items: center;
            padding: 0 12px;
            font-size: 16px;
            height: 30px;
            border-radius: 15px;
            &.is_active {
                background-color: $booking-color-bg165;
                font-weight: 700;
                color: #fff;
            }
        }
    }
}
