<nav class="navigation">
    <a href="/" class="logo">Board</a>
    <ul class="items">
        <li><a href="/posts">게시판 목록</a></li>
        <li><a href="/posts/new">새로만들기</a></li>
    </ul>
</nav>